
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "",
    authDomain: "app-89b68.firebaseapp.com",
    databaseURL: "https://app-89b68.firebaseio.com",
    projectId: "app-89b68",
    storageBucket: "app-89b68.appspot.com",
    messagingSenderId: "474148405153",
    appId: "1:474148405153:web:cdefad6e442788d9d4d5e0",
    measurementId: "G-6MVSXMJB1Q"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>
</body>
</html>